* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: darkblue;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: black;
    padding: 0 20px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: green;
}

.left {
    font-size: 1.2rem;
}

.firstsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 130px auto;
    width: 80%;
}

.leftsection {
    width: 30%;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    margin: 0 40px;
}

.leftsection .btn {
    padding: 9px;
    background: purple;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
}

.btn a {
    color: white;
    text-decoration: none;
}

.rightsection {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightsection img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.purple {
    color: purple;
    font-weight: bold;
}

#element {
    color: purple;
    font-weight: bold;
}

.secondsection {
    max-width: 60vw;
    margin: auto;
    height: 70vh;
}

.secondsection h1 {
    font-size: 1.4rem;
}

.secondsection .box {
    background: white;
    width: 30vw;
    height: 2px;
    margin: 20px 0;
    display: flex;
}

.secondsection .vertical {
    height: 50px;
    width: 2px;
    background-color: white;
    margin: 0 100px;
}

.vertical-title {
    position: relative;
    top: 55px;
    width: 150px;
    font-size: 21px;
}

.footer {
    background-color: black;
    height: 50px;
    display: flex;
    padding: 18px 119px;
    justify-content: space-evenly;
}

.footer .footer-first {
    color: white;
}

.footer ul {
    list-style: none;
    cursor: pointer;
}

.footer-second a {
    color: white;
    text-decoration: none;
}

#projects, #about {
    margin-top: -165px;
}

#about h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.5;
}

main hr {
    border: 0;
    background: white;
    height: 1.2px;
    margin: 40px 84px;
}
